<main>
    <div id="home-grids">
        <div id="img-sec">
            <!-- Free use image from Pexels -->
            <!-- https://www.pexels.com/photo/a-person-holding-a-tennis-racket-5741051/  Author: cottonbro studio -->
            <img alt="Person holding a tennis racket (Author of the Image: cottonbro studio)" src="/images/home/tennis_home.png">
        </div>

        <div id="title-sec">
            <h5>VINCI COURT</h5>
            <h2>play without limit.</h2>
        </div>

        <div id="text-sec">
            <p>Our club offers a wide range of services to help you improve your tennis skills. We have a team of professional coaches who will help you reach your full potential. We also have a pro shop where you can buy all the equipment you need to play your best game. Our club is open to players of all ages and skill levels, so whether you're a beginner or a seasoned pro, we have something for you. Come and join us today and start playing without limits!</p>
        </div>
    </div>
     <!-- Scroll test with overflow y for the layout.js -->
    <p>Scroll down to see the navbar fixed on top</p>
    <div style="padding-top: 1000px;">
        
    </div>
    <!-- End of scroll test (TO REMOVE) -->
</main>