<main>
    <h1>Login &amp; register page.</h1>
    <section id="auth">
        {{#if (eq form true)}}
        <form action="/users/login/auth" method="post">
            <div>
                <label for="email">Email : </label>
                <input type="email" name="email" required>
            </div>
            <div>
                <label for="password">Password : </label>
                <input type="password" name="password" required>
            </div>

            <button type="submit">login</button>
        </form>
        {{else}}
        {{#if (eq form false)}}
        <form action="/users/register/add" method="post">
            <div>
                <label for="firstname">Firstname : </label>
                <input type="text" name="firstname" required>
            </div>
            <div>
                <label for="surname">Surname : </label>
                <input type="text" name="surname" required>
            </div>
            <div>
                <label for="email">Email : </label>
                <input type="email" name="email" required>
            </div>
            <div>
                <label for="password">Password : </label>
                <input type="password" name="password" required>
            </div>
            <div>
                <label for="confirmation">Confirmation : </label>
                <input type="password" name="confirmation" required>
            </div>

            <button type="submit" name="is_coach" value="0">register</button>
        </form>
        {{/if}}
        {{/if}}

    </section>
</main>